.toast-top-right {
    .ngx-toastr {
      background-color: green;
      color: white;
    }
  }
  
  /* Toastr styles for error messages */
  .toast-top-right {
    .ngx-toastr {
      background-color: red;
      color: white;
    }
  }
