<h3 align="center">Registration Form</h3>

<form [formGroup]="empForm" (ngSubmit)="registerSubmit()">
  <table align="center">
    <tr>
      <td>EmpName</td>
      <td><input type="text" formControlName="empName" /></td>
    </tr>
    <tr>
      <td>Salary</td>
      <td><input type="text" formControlName="salary" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>
        <select formControlName="gender">
          <option value="" selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>DateOfJoin</td>
      <td><input type="date" formControlName="doj" /></td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <select formControlName="country">
          <option value="" selected>Select Country</option>
          <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>EmailId</td>
      <td><input type="text" formControlName="emailId" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" formControlName="password" /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td>
        <input type="password" formControlName="confirmPassword" />
        <div *ngIf="empForm.get('confirmPassword') && empForm.get('confirmPassword')!.hasError('mismatch')">
            Password and Confirm Password must be the same.
          </div>
      </td>
    </tr>
    <tr>
      <td>Department</td>
      <td>
        <select formControlName="department">
          <option value="" selected>Select Department</option>
          <option value="{{department.deptId}}" *ngFor="let department of departments">{{department.deptName}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="empForm.invalid">Register</button>
      </td>
    </tr>
  </table>
</form>
